<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Spotest
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-searchbar animated placeholder="Artist name" (ionChange)="searchArtist($event.detail)"></ion-searchbar>
    <ion-card>
      <ion-grid>
         <ion-row>
           <ion-col size="2" *ngFor="let artist of artistsResult">
              <ion-card id="artist-card" button (click)="goToAlbum(artist.id)" >
                <img *ngIf="artist.images.length > 0" src="{{artist.images[0].url || null}}" width="150" height="150"/>
                <ion-card-header>
                  <ion-card-subtitle>{{artist.name}}</ion-card-subtitle>
                  <ion-card-title>{{artist.popularity}}</ion-card-title>
                </ion-card-header>
              </ion-card>
           </ion-col>
         </ion-row>
      </ion-grid>
    </ion-card>
  </ion-content>
  